# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\dev\geo1016_hw1\A1_Calibration_Code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
